.btn1:hover {
      background-color:	#ffffff; 
  }
.btn2:hover {
      background-color:	#ffffff; 
  }
.btn3:hover {
      background-color:	#ffffff; 
  }
.btn4:hover {
      background-color:	#ffffff; 
  }
.btn1,
.btn2,
.btn3,
.btn4{
background-color:#808080;
}

.testbtn{
background-color:Transparent;
border: none;
cursor:pointer;
overflow: hidden;
outline:none;
}

// .questionmark
// {
//   height: 30px;
//   width: 30px;
// }